New Text Document.txt
Test case N.2
     Test Case ID: LD1
     ## Title:
     Test login with correct credential
     
     ## Description: 
     Check if the login works when a person uses a correct user & password.

     ## Pre-condition:--------
     
     ## Steps to reproduce: 
     1. Go to www.website.com/login
     2. Add a correct user & password
     3. Press login button
     
     ## Expected Result: 
     User should be able to login and is taken to his profile page.
     
     ## Test data: 
     User: Stefan & Password: 12345678
     
     ## Status: New, In Progress, Passed or Faild


     Test Case ID: LD2
     ## Title:
     Test login with correct credential
     
     ## Description: 
     Check if the login works when a person uses a correct user & password.
     
     ## Steps to reproduce: 
     1. Go to www.website.com/login
     2. Add a correct user & password
     3. Press login button
     
     ## Expected Result: 
     User should be able to login and is taken to his profile page.
     
     ## Test data: 
     User: Stefan Gututui & Password: 12345678
     
     ## Status: New, In Progress, Passed or Faild

mai adaugam detalii
